<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management App</title>
    <style>
        body {
            background-color: #7c7777; /* Set your desired background color here */
        }
    </style>
</head>

<body>
    <h1>Welcome to product details view</h1>
    <div>
        <label for="product_name"><b>Product name</b>: {{product._id}}</label>
        <br>
        <label for="product_name"><b>Product name</b>: {{product.name}}</label>
        <br>
        <label for="product_amount"><b>Product amount</b>: {{product.amount}}</label>
        <br>
        <label for="product_price"><b>Product price</b>: {{product.price}}</label>
        <br>
        <label for="product_description"><b>Product description</b>: {{product.description}}</label>
        <br>
        <label for="product_status"><b>Product status</b>: {{product.status}}</label>
        <br>
        <a href="/">
            <button type="submit">OK - go back</button>
        </a>

    </div>
</body>
</html>