<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management App</title>
</head>
<body>
    <h1>Main menu</h1>

    <div>
        <a href="{{ '/list'}}">
            Go to product List
        </a>

        <a href="{{ '/add'}}">
            Add products
        </a>
        <!-- add delete in edit tempate -->
        <a href="{{ '/edit'}}">
            Edit products
        </a>

        <a href="{{ '/details'}}">
            See product details
        </a>


    </div>
</body>
</html>